#sec {
    -webkit-app-region: drag;

    height: 100vh;
    width: 100vw;
    background-color: tomato;

    #wrap_video {
        height: 100%;
        width: 100%;
        overflow: hidden;
        background-color: white;
        display: flex;
        justify-content: center;

        // #video {}
    }
}