<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy"
        content="default-src 'self'; script-src 'self'; style-src 'self' 'unsafe-inline'">
    <link href="./css/main.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../node_modules/@iconscout/unicons/css/line.css">
    <!-- https://iconscout.com/unicons/explore/line -->
    <!-- <meta http-equiv="refresh" content="2"> -->
    <title></title>
</head>

<body>

    <section id="home">

        <div id="controls">

            <button id="get_midias">
                <i class="uil uil-redo"></i>
            </button>

            <!-- <button id="btn_play">               
                <i class="uil uil-play-circle"></i>
            </button> -->

            <!-- <button id="btn_pause">
                <i class="uil uil-pause-circle"></i>
            </button> -->

            <!-- <button id="btn_stop">
                <i class="uil uil-stop-circle"></i>
            </button> -->

            <button id="add_midia">
                <i class="uil uil-plus-circle"></i>
            </button>

        </div>

        <!-- video -->
        <div id="video_control">
            <!-- <video id="video_main" src="C:\Users\saulo\Videos\2023-04-20 09-06-26.mp4" controls="true"></video> -->
            <video id="video_main" src="" controls="true"></video>
        </div>
        <!-- video -->

        <div id="midias_list">
            <!-- via js -->
        </div>

    </section>

    <script src="./js/home.js"></script>
</body>

</html>